<section class="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-3">
          <h5><b>ABOUT US</b></h5>
          <hr />
          <div class="chamber">
            <div class="">
              <div>
                <img
                  style="width: 180px"
                  src="/assets/img/logo.png"
                  routerLink="/"
                />
              </div>
              <div>
                <h4 class="pl-4">RM Public School</h4>
                <p class="nomargin">
                  Affliated To CBSE, New Delhi, Upto +2 <br />Affiliation No.
                  330874 | School Code 65899
                </p>
              </div>
            </div>
            <p style="text-align: justify">
              We believe that every student has the ability to learn and grow,
              and we are committed to providing an environment where all
              students can thrive. If you have any questions about our
              curriculum or would like more information, please contact us.
            </p>
          </div>
        </div>

        <div class="col-12 col-md-3 col-lg-3">
          <h5><b>CONTACT US</b></h5>
          <hr />
          <div class="chamber">
            <label><b>Address:</b></label>
            <p>
              RMPS Campus Bishambhrapur, Manjhagarh, Gopalganj Bihar - 841427
            </p>

            <label><b>Phone:</b></label>
            <p>+91-9931353200</p>

            <label><b>Email:</b></label>
            <p>support@rnpubllicschool.org</p>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
          <h5><b>Important Links</b></h5>
          <hr />
          <div class="flexbox">
            <a href="https://www.facebook.com/">
              <img class="socialicons" src="/assets/icons/facebook.png"
            /></a>
            <a href="https://www.instagram.com//">
              <img class="socialicons" src="/assets/icons/instagram.png"
            /></a>
            <a href="https://in.pinterest.com//">
              <img class="socialicons" src="/assets/icons/pinterest.png"
            /></a>
            <a href="https://www.youtube.com/">
              <img class="socialicons" src="/assets/icons/youtube.png"
            /></a>
          </div>
        </div>

        <div class="col-12 col-md-2 col-lg-3">
          <h5 class="follow"><b>Download Our App </b></h5>
          <hr />
          <div>
            <a
              href="https://play.google.com/store/apps/details?id=com.offerplant.rmpschool"
            >
              <img
                src="assets/img/Google-Play-Store-Button.png"
                style="width: 180px"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="copy text-center">
        <h6 class="copyright">
          All Rights Reserved © 2023 RM Public School - Desgined With &hearts;
          From Codeship
        </h6>
      </div>
    </div>
  </div>
</section>
