<app-header></app-header>

<section>
  <div class="container">
    <h1 class="heading">PRIMARY SCHOOL</h1>
    <div class="maincontent">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <div class="content">
            <p>
              Primary education forms the bedrock of development. It is in
              primary school that children learn foundational skills that
              prepare them for life, work and active citizenship. Quality
              education empowers children and young people, safeguards their
              health and well-being, and breaks cycles of poverty. It also
              empowers countries, ushering in economic prosperity and social
              cohesion.
            </p>
            <br />
            RM Public School has grown rapidly and is considered among the most
            prestigious primary school in Gopalganj. The number of students in
            each class is constrained, the curriculum is extensive, and the
            standards are rigorous. Our schools are dedicated to having a
            smaller student population and provide each student with the same
            amount of available space as major international schools, which
            allows for more individualized instruction and engagement
            possibilities. Both English and Hindi are used as the language of
            instruction. <br />
            We see education as a process of renovation. We have a good plan, a
            mechanism for implementing it effectively, for checking and
            following up, and for taking remedial action when things go wrong.
            We stick with the kids till they succeed once they are enrolled with
            us. Because of our meticulous, thorough, and well-planned teaching
            style, rather than because we are selective, academic results are
            great. We urge kids to reach their full potential. Because there are
            only a few students in each class, teachers and students get along
            well. Each child's progress is observed by our leadership.
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <img class="image" src="/assets/img/PRIMARYMAIN.jpg" />
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</section>
