<app-header></app-header>

<section>
  <div class="container">
    <h1 class="heading">MIDDLE SCHOOL</h1>
    <div class="everything">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <img class="image" src="/assets/img/middlesch.jpg" />
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <div class="content">
            <BR /> <br />
            The ability to imagine, the fortitude to cherish those dreams, and
            the know-how to make them come true should all be imparted to your
            child. Every child has a different definition of success, according
            to RM Public School. Each student is therefore free to explore and
            follow their interests in whatever way they see fit. And because our
            teachers are very knowledgeable in this area, they take the time to
            speak with each student one-on-one to learn about their aspirations
            and to give them advice on how to get there.
            <br /><br />
            We believe that only bookish knowledge is not enough to succeed in
            life. That's why we encourage students to excel in extra curricular
            activities as well like drama, music, art and craft, painting, yoga,
            karate and gymnastics, etc. If you want your child to get admitted
            in one of the best middle schools of Gopalganj then visit RM Public
            School and meet our professionals.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
