<app-header></app-header>
<div class="container">
  <div class="topdiv">
    <div>
      <h1 style="text-align: center">Methodology</h1>
    </div>
    <div class="col-12 col-md-12 col-lg-12">
      <div class="maincontent">
        In this article we have listed our adopted approaches for an effective
        teaching environment.
        <br />
        The list of teaching methodologies that we are using with
        elementary-aged students is a long one. An approach effective for one
        teacher may not necessarily be useful for another because every method
        uses different tools and techniques for achieving common educational
        goals. That’s why many teachers try to extract some ideas from different
        approaches, mixing and incorporating them into one unique teaching
        approach depending on the students’ and school’s needs and other
        circumstances.
      </div>
    </div>

    <div>
      <h2>List Of Teaching Methods</h2>
    </div>

    <br />
    <!--first-->
    <div class="containerclass">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <div>
            <h3>1. Teacher-Centered Instruction</h3>
          </div>
          <div class="content">
            <br />
            Recognized as the most conventional approach, the teacher-cantered
            methodology is based on the idea that the teacher has the main
            responsibility in the learning environment. Teachers are in charge
            of the classroom and direct all activities. Typically, in this
            approach, students are seated at individual desks that face the
            teacher. While group work may take place, most classroom time is
            spent with the teacher explaining concepts and assigning individual
            work. In other words, students passively absorb the information
            while the teacher actively delivers it.
            <br /><br />
            <h4>Advantages:</h4>
            1. It highlights the importance of the teacher’s role as
            facilitator. Although the teacher-cantered approach has been
            criticized for encouraging passive learning, no one can deny that
            students need the assistance of a teacher to develop their skills.
            <br />
            2. Having been built on behavioural theory, this teaching method
            facilitates control over changes in student behaviour through direct
            instruction. It might be helpful to use the core of this approach
            and modify it depending on the teacher’s and students’ needs,
            gradually shifting the focus from the former to the latter.
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <img class="image" src="assets/img/teachercentred.avif" />
        </div>
      </div>
    </div>

    <!--second-->
    <div class="containerclass">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <img class="image" src="assets/img/smallinstruction.avif" />
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <div>
            <h3>
              2. Small Group Instruction (mainly for the slow learning students)
            </h3>
          </div>
          <div class="content">
            <br />
            Small group instruction (SGI) usually follows whole group
            instruction and provides students with a reduced student-teacher
            ratio, typically in groups of four to six students. SGI allows
            teachers to work more closely with each student on a specific
            learning objective, reinforce skills learned in whole group
            instruction, and check for student understanding. This teaching
            method is based on constant activities around workstations: groups
            working with the teacher and groups working independently on varied
            activities, such as using manipulatives or computer/online
            resources.<br />
            <br />
            <h4>Advantages:</h4>
            1. Lessons are adapted to each student’s level. This allows teachers
            to provide targeted, differentiated instruction to small groups of
            students in a natural way. It helps the instructor to more closely
            evaluate what each student is capable of and construct strategic
            plans around the assessments.
            <br />
            2. It promotes students’ social adaptation skills. Students who find
            it difficult to ask questions and participate in a large group
            setting may benefit from working in a small group setting, where
            they feel more at ease and less overwhelmed.
          </div>
        </div>
      </div>
    </div>

    <!--third-->
    <div class="containerclass">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <div>
            <h3>3. Student-Cantered / Constructivist Approach</h3>
          </div>
          <div class="content">
            <br />
            As we consider shifting the focus from teacher to students, the rest
            of the approaches from this list are considered to be
            student-cantered or constructivist. With the development of the
            educational sphere and society in general, the idea of a
            student-cantered approach has become more popular, and there are
            good reasons for that. Student-cantered classrooms include students
            in planning, implementation, and assessments. Involving the learners
            in these decisions places more responsibility and ownership on them
            rather than on the teacher. Also, teachers must become comfortable
            with changing their leadership style from directive to consultative.
            Meanwhile, students may work in small groups, access centres, and
            move about the classroom freely.
            <br />
            We hope that the ideas shared in this article will help you and your
            students to succeed in this potentially challenging topic. If you do
            find these tips helpful, check out what Happy Numbers offers its
            users by setting up your class and starting a free trial which is
            available only this week!
            <br />
            <br />
            <h4>Advantages:</h4>
            1. Students play a more active role in their learning and develop a
            sense of responsibility.
            <br />
            2. Thanks to teachers avoiding transmission of knowledge directly,
            students have a chance to stimulate their analytical thinking, by
            “making sense of what they are learning by relating it to prior
            knowledge and by discussing it with others,” according to American
            educational psychologist J. Brophy.
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <img class="image" src="assets/img/student_centred.avif" />
        </div>
      </div>
    </div>
    <!--fourth-->
    <div class="containerclass">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <div class="image">
            <img class="image" src="assets/img/project_based.avif" />
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <div class="content">
            <h3>4. Project-Based Learning</h3>

            <br />
            A relatively new teaching method, project-based learning falls
            within the student-cantered approach. As the name suggests, in
            project-based learning students complete projects. However, these
            are big, meaty projects in which students acquire knowledge,
            research, think critically, evaluate, analyse, make decisions,
            collaborate, and more.
            <br />
            Typically, projects are created in response to an open-ended
            question such as “How can our school be greener?” or “How was our
            city planned in the past and how could it be planned in the future?”
            Another important part of the projects is that they relate to
            real-world problems. The projects shouldn’t just apply to the
            classroom but have an impact, too. For example, students might make
            a radio show for the whole school to hear. Or, they might write a
            letter to the town council and attend a meeting to express an
            opinion.
            <br /><br />
            <h4>Advantages:</h4>
            1. Between projects, the teacher may provide scaffolding and smaller
            bite-sized projects to help build skills such as how to research,
            how to solve division problems, how to write a letter, etc. Thus,
            students build on what they know by asking questions, investigating,
            interacting with others, and reflecting on these experiences.
            <br />
            2. Cooperative learning is enhanced by letting students organize
            their work in groups.
          </div>
        </div>
      </div>
    </div>
    <!--fifth-->
    <div class="containerclass">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <div class="content">
            <div>
              <h3>5. Montessori</h3>
            </div>
            <br />
            This type of teaching is based on a methodology that’s over 100
            years old. Yet, it continues to offer a novel approach to creating a
            student-cantered classroom.
            <br />
            Today, the Montessori method is most popular in preschools,
            kindergartens, and lower elementary grades. In this method, the
            teacher prepares an ideal classroom environment full of activities
            that children may pick from to work on. Moreover, the teacher guides
            the children to ensure that they choose an adequate number of
            lessons from all of the subject areas.
            <br />
            The Montessori method also encourages the use of “materials” or
            carefully curated objects designed for learning. For example, there
            are trays containing different types of triangles or cards with
            definitions explaining the parts of a bird. Furthermore, the
            Montessori method includes areas of the curriculum that teach social
            skills and practical life skills, such as cooking and cleaning.
            <br />
            <br />
            <h4>Advantages:</h4>
            1. Strong intrinsic motivation and a strong sense of responsibility
            are important qualities that the Montessori method strives to
            install in students. Children often work independently and have
            their choice of what to work on and where to work in the classroom.
            <br />
            2. It creates a positive learning environment. The multi-age
            learning environment is unique and a key factor to this educational
            method. Younger children have a great opportunity to develop their
            social, communication, leadership, and emotional skills by working
            with older children. Older children also benefit from this approach.
            <br />
            Here’s a good scientific review written by Chloë Marshall, one of
            the researchers of University College London, in which she describes
            Montessori education’s effectiveness and key elements of it that are
            shared with other educational methods for those who are interested
            and want to start implementing it into their teaching.
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <div class="image">
            <img class="image" src="assets/img/montessari_final.avif" />
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%; height: 2rem"></div>
    <!--sixth-->
    <div class="containerclass">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <div class="image">
            <img class="image" src="assets/img/inquiry_based.avif" />
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <div class="content">
            <div>
              <h3>6. Inquiry-Based Learning</h3>
            </div>
            <br />
            What if learning was question-driven? This is exactly what inquiry
            -based learning is about: it engages students by making real-world
            connections through exploration and high-level questioning.
            <br />
            Still looking for some useful ideas to incorporate into your lesson
            plans? Your own “digital assistant” will not only help you diversify
            usual classroom activities but also will help optimize instruction
            and provide individual student data. Click “I am a teacher” on Happy
            Numbers’ website to get started right now. Free trial is available
            only this week!
            <br />
            <br />
            <h4>Advantages:</h4>
            1. Teachers guide students to develop critical thinking and
            problem-solving skills. To learn these skills, the teacher helps
            students think through their processes, teaches them possible
            approaches, and encourages them to try various methods.
            <br />
            2. Students are encouraged to fail as a part of the process and then
            improve their performance in subsequent activities.
            <br />
            3. Instead of repeating answers students have been taught, students
            learn to seek their own answers to questions. So, students develop
            strong research skills.
          </div>
        </div>
      </div>
    </div>

    <!--seventh-->
    <div class="containerclass">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <div class="content">
            <div>
              <h3>7. Flipped Classroom</h3>
            </div>
            <br />
            The concept of delivering online lectures that students can view
            from home to substitute lecturing in the classroom is known as
            flipped learning. The letters FLIP represent the four pillars
            included in this type of learning: Flexible environment, Learning
            culture shift, Intentional content, and Professional educator. This
            technique, in theory, allows for more time in class to be devoted to
            active learning rather than instruction.
            <br />
            <br />
            <h4>Advantages:</h4>
            1. Students have more control over their learning. When viewing
            video content or other materials at home, students have the option
            of learning at their own pace.
            <br />
            2. It promotes student-cantered learning and collaboration.
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <div class="image">
            <img class="image" src="assets/img/flipped_classroom.avif" />
          </div>
        </div>
      </div>
    </div>
    <!--eighth-->
    <div class="containerclass">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <img class="image" src="assets/img/cooperative_learning.avif" />
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <div class="content">
            <div>
              <h3>8. Cooperative Learning</h3>
            </div>
            <br />
            As the name suggests, cooperative learning involves a lot of group
            work. However, it also requires a lot of structure and intervention
            on the part of the teacher to make learning as effective as
            possible. Some commonly used cooperative learning strategies include
            “think-pair-share.” Discussions in small groups or pairs can also be
            effective, as can a “jigsaw” approach. In the jigsaw model, students
            are broken into small groups to read or learn from a certain
            perspective. Then, changing their groups, members spread the
            information and share it with others.
            <br />
            <br />
            <h4>Advantages:</h4>
            1. It improves social skills through cooperative work, recreating
            real-world work situations in which collaboration and cooperation
            are required. One of the most vivid results of cooperative learning
            is described in American psychologist and professor of the John
            Hopkins University Robert E. Slaven’s essential work “Cooperative
            learning: Theory, Research, and Practice”.
            <br />
            2. It improves critical thinking: during the group work process,
            students will express their opinions or ideas with the other
            students in the group providing feedback. This feedback to each
            student will include critique as well as the interpretation of the
            opinions or ideas expressed.
          </div>
        </div>
      </div>
    </div>

    <!--ninth-->
    <div class="containerclass">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
          <div class="content">
            <div>
              <h3>9. Personalized Education</h3>
            </div>
            <br />
            Personalized education takes the student-cantered approach to a new
            level by, as much as possible, responding to each individual
            learner’s unique needs, strengths, and weaknesses. Each student gets
            a learning plan that's based on what he or she knows and how he or
            she learns best. Through individualized instruction, learning is
            tailored to the student. It provides numerous and
            yet-to-be-discovered advantages for both teachers and students.
            <br />
            <br />
            <h4>Advantages:</h4>
            1. Personal attention is given to ensure that every child develops
            his or her intellectual and creative talents.
            <br />
            2. Studying in a supportive and caring environment promotes
            respectful student-teacher relationships and even teacher
            partnership with parents.
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <div class="imager1">
            <img class="image" src="assets/img/personalized_education.avif" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
