<app-header></app-header>

<section>
  <div class="container">
    <h1 class="heading">SECONDARY SCHOOL</h1>
    <div class="everything">
      <div class="maincontent">
        <p>
          God made this stunning world so that people could live in peace and
          happiness. The goal of education is to create integrated, fearless men
          and women who may uncover their actual worth and develop
          self-awareness, ushering in a period of lasting peace in our society.
        </p>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <div class="content">
            <BR /> <br />
            One of Gopalganj's best and most prestigious secondary schools is RM
            Public School. It is a place where dreams come true and where the
            high academic standards are fully realized. It works to make the
            pursuit of excellence a reality. We think that a school's student
            population determines how good it is. The laws, guidelines, customs,
            dress code, and other requirements are merely tools to improve your
            quality of life.
            <br /><br />
            The school strives to fully develop each student's personality in
            order for them to play a moral role in the world. Therefore, from
            the very beginning of the academic career, the intellectual,
            cultural, physical, psychological, and moral improvement receives
            the utmost attention.
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <img class="image" src="/assets/img/secomdary.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
