<app-header></app-header>

<section>
  <div class="container">
    <h1 class="heading">SENIOR SECONDARY SCHOOL</h1>
    <div class="maincontent">
      <p>
        God made this stunning world so that people could live in peace and
        happiness. The goal of education is to create integrated, fearless men
        and women who may uncover their actual worth and develop self-awareness,
        ushering in a period of lasting peace in our society.
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-7">
        <div class="content">
          <BR /><br />
          The senior secondary curriculum is created to assist students develop
          the practical abilities, subject knowledge, and attitudes needed to
          succeed in their chosen careers. The students receive the necessary
          training to be college ready and to be proficient in the area of study
          they have selected. RM Public School is said to be one of the best
          senior secondary school in Gopalganj.

          <br /><br />
          Students are exposed to the realities of the workplace through career
          counseling, opportunities, and advice. According to their aptitude and
          interests, students can choose from a large selection of topic options
          in addition to optional skill-based disciplines. To achieve effective
          student outcomes, the courses are adapted to each learner's specific
          needs. If you want your child to get admitted in one of the best
          senior secondary school in Gopalganj then visit RM Public School.
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-5">
        <img class="image" src="/assets/img/seniorsec.jpg" />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
