.imagecontainer {
    width: 100%;
}

.imagefinal {
    display: block;
    margin: auto;
}

p {
    font-family: "Poppins", sans-serif;
}

.content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}