<app-header></app-header>
<div class="container">
  <div class="content">
    <p>
      1. You can Fill the Online Admission Form by clicking at
      <a routerLink="/admission-form">LINK </a> or can purchase from the school
      reception.
      <br />
      2. Please fill the Admission Form and then pay the registration fee of
      Rs.500
      <br />
      3. Admission form can be collected from the school between 9 am to 3 pm on
      working days.
      <br />
      4. The following documents need to be submitted:
      <br />
      ► Birth certificate copy<br />
      ► ID proof (both parent)<br />
      ► 1 set of Photo of Child, Father and Mother<br />
      ► Address proof<br />
      ► Last two years report card (if applicable)<br />
      ► Original Transfer certificate<br />
      5. Our admission officer will contact you to schedule an interaction
      and/or assessment within 48<br />
      working hours from the day of Application Submission.<br />
      <br />

      <b>NOTE-</b><br />
      ► The school has an open entry system and admissions are taken on the
      first-come-first-serve basis.<br />
      ► Filling of Admission Form( Registration) does not guarantee
      admission.<br /><br />
    </p>

    <br />
    <br />
    <p>
      Grade XI Online Admission Process<br />

      ► Communication with Admission Officer, who briefs about school & other
      information.<br />
      ► Admission Form to be purchased<br />
      ► Academic Documents of the learner to be shared —–> (Mark sheet of Grade
      IX & Grade X half yearly & Pre-board result and Grade X Final Report
      Card)<br />
      ► Provisional Admission Form to be filled —> (For choice of stream &
      subjects, applicable before Grade-X Final Results)<br />
      ► Online Interaction takes place with Academic Coordinator & Subject
      Teachers<br />
      ► Fee Payment is made<br />
      ► Admission gets confirmed<br />
      <a href="/streams">Click here</a> for Streams, Subjects & Percentage
    </p>
  </div>
</div>

<app-footer></app-footer>
