<app-header></app-header>
<section class="banner-section-one">
  <div class="flex-top">
    <div class="col-12 col-md-12 col-lg-9">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="curvebody">
            <div
              class="slide-item bg_image"
              [ngStyle]="{
                'background-size': 'cover',
                'background-position': 'center center',
                'background-image': 'url(/assets/img/slider1.jpg)'
              }"
            >
              <div class="auto-container">
                <div class="content-outer">
                  <div class="content-box text-center">
                    <span class="title text-center">
                      <h3 class="text-white">RM Public School</h3>
                      <p class="text-small text-white"></p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="curvebody">
            <div
              class="slide-item bg_image"
              [ngStyle]="{
                'background-size': 'cover',
                'background-position': 'center center',
                'background-image': 'url(/assets/img/bg1.jpg)'
              }"
            >
              <div class="auto-container">
                <div class="content-outer">
                  <div class="content-box text-center">
                    <span class="title text-center">
                      <h3 class="text-white">Parents Teacher Meeting</h3>
                      <p class="text-small text-white">PTM</p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="curvebody">
            <div
              class="slide-item bg_image"
              [ngStyle]="{
                'background-size': 'cover',
                'background-position': 'center center',
                'background-image': 'url(/assets/img/banner4.png)'
              }"
            >
              <div class="auto-container">
                <div class="content-outer">
                  <div class="content-box text-center">
                    <span class="title text-center">
                      <h3 class="text-white">
                        RM Public School - Cultural Events
                      </h3>
                      <p class="text-small text-white"></p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="curvebody">
            <div
              class="slide-item bg_image"
              [ngStyle]="{
                'background-size': 'cover',
                'background-position': 'center center',
                'background-image': 'url(/assets/img/banner2.png)'
              }"
            >
              <div class="auto-container">
                <div class="content-outer">
                  <div class="content-box text-center">
                    <span class="title text-center">
                      <h3 class="text-white">RM Public School</h3>
                      <p class="text-small text-white"></p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-12 col-md-12 col-lg-3 bg-grey-left">
      <h6 class="py-3">Latest Updates</h6>
      <div class="max-w-md md:max-w-2xl px-2 mb-3">
        <div class="bg-white shadow-xl rounded-lg overflow-hidden md:flex">
          <div
            class="bg-cover bg-bottom h-56 md:h-auto md:w-56"
            [ngStyle]="{
              'background-image': 'url(assets/img/buss-one.jpg)'
            }"
          ></div>
          <div>
            <div class="p-4 md:p-5">
              <p class="font-bold text-xl trimtotwo">
                <a>New buses added for various other routes</a>
              </p>

              <p class="text-small hideonmob">02/04/2023</p>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-md md:max-w-2xl px-2 mb-3">
        <div class="bg-white shadow-xl rounded-lg overflow-hidden md:flex">
          <div
            class="bg-cover bg-bottom h-56 md:h-auto md:w-56"
            [ngStyle]="{
              'background-image': 'url(assets/img/banner1.png)'
            }"
          ></div>
          <div>
            <div class="p-4 md:p-5">
              <p class="font-bold text-xl trimtotwo">
                <a>Parents Can pay fees online using link in website</a>
              </p>

              <p class="text-small hideonmob">21/02/2023</p>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-md md:max-w-2xl px-2 mb-3">
        <div class="bg-white shadow-xl rounded-lg overflow-hidden md:flex">
          <div
            class="bg-cover bg-bottom h-56 md:h-auto md:w-56"
            [ngStyle]="{
              'background-image': 'url(assets/img/main-building.jpg)'
            }"
          ></div>
          <div>
            <div class="p-4 md:p-5">
              <p class="font-bold text-xl trimtotwo">
                <a>25 Seats available for 12th Standard</a>
              </p>

              <p class="text-small hideonmob">21/02/2023</p>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-md md:max-w-2xl px-2 mb-3">
        <div class="bg-white shadow-xl rounded-lg overflow-hidden md:flex">
          <div
            class="bg-cover bg-bottom h-56 md:h-auto md:w-56"
            [ngStyle]="{
              'background-image': 'url(assets/img/about-us-1.jpg)'
            }"
          ></div>
          <div>
            <div class="p-4 md:p-5">
              <p class="font-bold text-xl trimtotwo">
                <a>Welcome To Main Campus of RM Public School</a>
              </p>

              <p class="text-small hideonmob">21/02/2023</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-7">
        <h2 class="section-title">Welcome to RM Public School - Gopalganj</h2>
        <br />
        <p class="para pr-5">
          RM Public School is a unique school that provides students with a
          quality education while also developing their emotional and
          intellectual skills. Located in the rural area of the district
          Gopalganj, Bihar India, this school has become a beacon of hope for
          many students. With its holistic approach to learning and dedicated
          faculty, RM Public School has gone above and beyond to ensure that
          each student receives the best possible education. This article will
          provide an overview of RM Public School and discuss why it stands out
          from other schools in the area.
          <br />
          <br />
          RM Public School is a great place to get an education. With its
          commitment to support every student, small class sizes, top-notch
          faculty, and wide array of extracurricular activities, there's
          something for everyone here. If you're looking for a school that can
          help your child reach their full potential both academically and
          socially then RM Public School is definitely worth considering. We
          invite you to come see what we have to offer and explore the
          possibilities at RM Public School!
        </p>
        <div class="mt-5">
          <a href="/aboutus" class="arrow-link green">EXPLORE MORE ➝</a>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-5">
        <video class="video" controls autoplay [muted]="'muted'">
          <source
            src="https://firebasestorage.googleapis.com/v0/b/iiccc-afb47.appspot.com/o/videoplayback%20(1).mp4?alt=media&token=c17ffd3f-0a99-46b2-bcc3-c345c30d9304"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
</section>

<section class="bg-grey py-6 my-3">
  <div class="container">
    <div class="text-left mb-5">
      <h3 class="section-title">School Toppers</h3>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="single-listing-item">
          <div class="listing-image bg-topper">
            <a routerLink="/listing-details" class="d-block"
              ><img src="assets/img/gaurav.jpg"
            /></a>

            <div class="listing-tag">
              <a routerLink="/" class="d-block">10th</a>
            </div>
          </div>

          <div class="listing-content">
            <div class="listing-author d-flex align-items-center">
              <span class="px-3">GAURAV</span>
            </div>
            <span class="location"
              ><i class="bx bx-map"></i> RMPS family congratulates GAURAV for
              scoring 95% in 10th board examination. We wish him luck for a
              bright future and hope he achieves the zenith of success.
            </span>
          </div>

          <div class="listing-box-footer">
            <div class="d-flex align-items-center justify-content-between">
              <div class="price">
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Ultra Hight"
                  >Class 10th 2020 – 2021
                </span>
              </div>
            </div>
          </div>

          <div class="listing-badge">95% in 10th</div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="single-listing-item">
          <div class="listing-image bg-topper">
            <a routerLink="/listing-details" class="d-block"
              ><img src="assets/img/anurag.jpg"
            /></a>

            <div class="listing-tag">
              <a routerLink="/" class="d-block">12th</a>
            </div>
          </div>

          <div class="listing-content">
            <div class="listing-author d-flex align-items-center">
              <span class="px-3">Anurag</span>
            </div>
            <span class="location"
              ><i class="bx bx-map"></i> Anurag has not only made RMPS proud but
              Gopalganj as well by scoring a whopping 94.6% in the 12th board
              examination.
            </span>
          </div>

          <div class="listing-box-footer">
            <div class="d-flex align-items-center justify-content-between">
              <div class="price">
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Ultra Hight"
                >
                  Class 12th 2020 – 2021
                </span>
              </div>
            </div>
          </div>

          <div class="listing-badge">94.6% in the 12th</div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="single-listing-item">
          <div class="listing-image bg-topper">
            <a routerLink="/listing-details" class="d-block"
              ><img src="assets/img/rupam.jpg"
            /></a>

            <div class="listing-tag">
              <a routerLink="/" class="d-block">10th</a>
            </div>
          </div>

          <div class="listing-content">
            <div class="listing-author d-flex align-items-center">
              <span class="px-3">Rupam </span>
            </div>
            <span class="location"
              ><i class="bx bx-map"></i> We are glad to announce that one of our
              students, Rupam, has made us proud by scoring 95% in the 10th
              board examination.</span
            >
          </div>

          <div class="listing-box-footer">
            <div class="d-flex align-items-center justify-content-between">
              <div class="price">
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Ultra Hight"
                >
                  Class 10th 2021-2022
                </span>
              </div>
            </div>
          </div>

          <div class="listing-badge">95% in the 10th</div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="single-listing-item">
          <div class="listing-image bg-topper">
            <a routerLink="/listing-details" class="d-block"
              ><img src="assets/img/pallu.jpg"
            /></a>

            <div class="listing-tag">
              <a routerLink="/" class="d-block">12</a>
            </div>
          </div>

          <div class="listing-content">
            <div class="listing-author d-flex align-items-center">
              <span class="px-3">Pallu </span>
            </div>
            <span class="location"
              ><i class="bx bx-map"></i> We congratulate Pallu for his
              outstanding performance in math by scoring 100/100 in board
              examination. We are also glad to share that recently he has scored
              99.95 in JEE MAINS and bought glory to our Vidyalaya.</span
            >
          </div>

          <div class="listing-box-footer">
            <div class="d-flex align-items-center justify-content-between">
              <div class="price">
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Ultra Hight"
                >
                  12th
                </span>
              </div>
            </div>
          </div>

          <div class="listing-badge">Marks 100/100 in Maths</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 py-4">
  <div class="container">
    <h2 class="section-title">Why Choose RM Public School?</h2>
    <div class="row py-6">
      <div class="col-12 col-lg-4">
        <div class="blue lighten-1">
          <img src="/assets/img/vision.png" class="imageiconless" />
          <h3>OUR VISION</h3>
          <p class="protienone">
            RM Public School offers a challenging and comprehensive curriculum
            that is designed to prepare students for success in college and
            beyond. Our curriculum is aligned with the Common Core State
            Standards and reflects the knowledge and skills that students need
            to be successful in today's world.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="blue lighten-1">
          <img src="/assets/img/mission.png" class="imageiconless" />
          <h3>OUR MISSION</h3>
          <p class="protienone">
            The mission of RM Public School is to provide a quality education
            for all students in a safe and nurturing environment. We believe
            that all students can learn and achieve success when given the
            opportunity and support to do so. Our school community is committed
            to working together to help each student reach his or her fullest
            potential.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="blue lighten-1">
          <img src="/assets/img/education.png" class="imageiconless" />
          <h3>OUR CURRICULUM</h3>
          <p class="protienone">
            RM Public School offers a variety of course offerings that allow
            students to explore their interests and develop their talents. We
            offer courses in English, Math, Science, Social Studies, and Foreign
            Language as well as a variety of electives. Our courses are taught
            by experienced and certified teachers who are dedicated to helping
            our students succeed.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-grey mt-5 py-4">
  <div class="container">
    <h2 class="section-title">News & Updates</h2>
    <div class="row py-5">
      <div class="col-12 col-lg-3">
        <div class="card wow bounceInLeft" data-wow-delay="0.4s">
          <div class="view overlay hm-white-slight">
            <img src="assets/img/bg1.jpg" class="img-fluid" alt="" />
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-block p-3">
            <h4 class="card-title">Parent Teachers Meeting</h4>
            <p class="card-text">
              PTA was conducted on 29/03/2023 and teachers provided briefing to
              parents
            </p>
            <a href="#" class="btn btn-secondary-outline waves-effect"
              >Learn More</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card wow bounceInLeft" data-wow-delay="0.4s">
          <div class="view overlay hm-white-slight">
            <img src="assets/img/banner1.png" class="img-fluid" alt="" />
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-block p-3">
            <h4 class="card-title">Morning Assembly</h4>
            <p class="card-text">
              Morning Assemblies are conducted regularly to improve
              concentration and discipline
            </p>
            <a href="#" class="btn btn-secondary-outline waves-effect"
              >Learn More</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card wow bounceInLeft" data-wow-delay="0.4s">
          <div class="view overlay hm-white-slight">
            <img src="assets/img/banner3.png" class="img-fluid" alt="" />
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-block p-3">
            <h4 class="card-title">Montessori Wing</h4>
            <p class="card-text">
              Dedicated section for the fundamental education and providing
              strong base to students
            </p>
            <a href="#" class="btn btn-secondary-outline waves-effect"
              >Learn More</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card wow bounceInLeft" data-wow-delay="0.4s">
          <div class="view overlay hm-white-slight">
            <img src="assets/img/main-building.jpg" class="img-fluid" alt="" />
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-block p-3">
            <h4 class="card-title">Main Building</h4>
            <p class="card-text">
              The primary, secondary & Senior secondary sections are nurtured
              here.
            </p>
            <a href="#" class="btn btn-secondary-outline waves-effect"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
