$white: #ffffff;
$black: #000000;

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: #000;
    }
}
.col-form-label {
    color: #000;
    font-size: 13px;
}
.btn,
.form-control,
.custom-select {
    height: 45px;
}
.custom-select {
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: #000;
    }
}

.btn {
    border: none;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    &.btn-primary {
        background: #35477d;
        color: $white;
        padding: 15px 20px;
    }
    &:hover {
        color: $white;
    }
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.contact-wrap {
    box-shadow: 0 0px 20px 0 rgba($black, 0.2);
    .col-form-label {
        font-size: 14px;
        color: #fff;
        margin: 0 0 10px 0;
        display: inline-block;
        padding: 0;
    }
    .form,
    .contact-info {
        padding: 40px;
    }
    .contact-info {
        color: #fff;
        ul {
            li {
                margin-bottom: 15px;
                color: #fff;
                .wrap-icon {
                    font-size: 20px;
                    color: $white;
                    margin-top: 5px;
                }
            }
        }
    }
    .form {
        background: $white;
        h3 {
            color: #35477d;
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
    .contact-info {
        background: #35477d;
        h3 {
            color: $white;
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
}

label.error {
    font-size: 12px;
    color: red;
}

#message {
    resize: vertical;
}
#form-message-warning,
#form-message-success {
    display: none;
}
#form-message-warning {
    color: #b90b0b;
}
#form-message-success {
    color: #55a44e;
    font-size: 18px;
    font-weight: bold;
}
.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}
