<app-header></app-header>
<section class="banner-section-one">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="curvebody">
        <div
          class="slide-item"
          [ngStyle]="{
            'background-size': 'cover',
            'background-position': 'center center',
            'background-image': 'url(/assets/img/about-us-1.jpg)'
          }"
        >
          <div class="auto-container">
            <div class="content-outer">
              <div class="content-box text-center">
                <span class="title text-center"> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="curvebody">
        <div
          class="slide-item"
          [ngStyle]="{
            'background-size': 'cover',
            'background-position': 'center center',
            'background-image': 'url(/assets/img/about-us-2.jpg)'
          }"
        >
          <div class="auto-container">
            <div class="content-outer">
              <div class="content-box text-center">
                <span class="title text-center"> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>

<section class="py-4">
  <div class="container negative-margin">
    <div>
      <h3 class="section-title">About Us</h3>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-5">
        <img src="assets/img/banner1.png" style="height: 500px" />
      </div>
      <div class="col-12 col-md-12 col-lg-7">
        <h2 class="section-title">THE RM PUBLIC SCHOOL</h2>
        <br />
        <p class="para pr-5">
          R M PUBLIC SCHOOL is an educational institution of learners including
          students, parents and staff who are dedicated to creating an
          academically rigorous, culturally caring and inclusive learning
          environment.<br /><br />
          We are Reaching Excellence in Academics and Changing History Together,
          we are champions of knowledge, our communities, the environment and of
          our futures. RMPS Enrolled students are goaloriented, critical
          thinkers and community leaders who are dedicated to achieving the
          highest level of integrity and academic success.<br />
          The administration and staff are committed to providing a challenging
          and supportive learning environment where all students can succeed and
          reach their full potential. Every member participates in cycles of
          continuous learning and improvement that includes establishing high
          expectations, goal setting, planning, action and reflection.<br />
          We develop a culture of excellence that includes a robust
          instructional program aligned to the Common Core State Standards
          (CCSS) with a focus on implementing Balanced Literacy through Reading
          and Writing Workshop, as well as by building language, literacy and
          competency across all subject areas. This includes the integration of
          science and technology, Mathematics and Social Studies (STMSs) into
          the curriculum and by establishing a strong educational culture and
          positive climate.<br /><br />
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-team mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-12 col-lg-6 col-xl-6">
        <h5 class="sectiontitle">Director's Message</h5>

        <div class="single-person">
          <div class="person-image">
            <img class="profile-img" src="/assets/img/DSC_1361.jpg" />
          </div>
          <div class="person-info">
            <h3 class="full-name">Mr. Vikas Singh</h3>
            <h6>Director, R M PUBLIC SCHOOL</h6>
            <hr />
            <p class="paramission">
              R M PUBLIC SCHOOL with a moto “KNOWLEDGE IS INFINITE” aspires all
              students to succeed in their world. It offers a wide variety of
              challenging, enjoyable and successful curricular as well as
              extra-curricular opportunities, athletic programmes, performing
              arts and musical programmes with various clubs and activities.<br /><br />
              It is our belief that high school should be the experience of a
              life time. Our high school experience sets the stage for
              successful human capital later in life and provides a lifetime of
              positive memories for our students.<br /><br />
              We are proud of our continuous goal of providing an excellent
              education for our students. 91% of our senior school faculty have
              a B.Ed. degree. We have a dynamic, hardworking faculty who are
              involved in education to benefit the students.<br />
              Out student are our main focus. RMPS is proud of its students, who
              have got admission into IIT, BITS Pilani and cracked NEET. One of
              our boy, Pallu Kumar of year 2021-2022 has scored 99.367737
              percentage in JEE Mains.<br /><br />
              Our school is also proud of its commitment to technology with over
              88 computers in the high school to help students and staff. We are
              constantly striving to stay on the cutting edge of technology,
              especially with our Campus Care Software programme, with the help
              of which we monitor every student inside the campus. Academic
              excellence with character and personality development is our
              ultimate goal. The well chalked out academic and co-curricular
              programme enables the students to attain their full potential to
              develop sound work habits. The academic work is centred on highly
              personalized attention and supervision. May we continue to give
              our students strong roots like the Banyan Tree and stronger wings
              to conquer the world
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-12 col-lg-6 col-xl-6">
        <h5 class="sectiontitle">Principal's Message</h5>

        <div class="single-person">
          <div class="person-image">
            <img class="profile-img" src="/assets/img/principal.jpg" />
          </div>
          <div class="person-info">
            <h3 class="full-name">Mr. Suresh Nair</h3>
            <h6>Principal, R M PUBLIC SCHOOL</h6>
            <hr />
            <p class="paramission">
              While extending a warm welcome to you on the website of R M Public
              School, I would like to express my gratitude to the Almighty for
              giving me the chance to be associated with this esteemed
              institution, which has a longstanding reputation for offering its
              students exceptional educational opportunities and results. The R
              M Public School, Gopalganj, fraternity has used this platform to
              assist all the kids who have a variety of abilities and skills so
              that the best practises can be put into practise to mold the young
              minds and equip them with the skills they need to achieve in the
              twenty-first century. Every student at R M Public School is
              unique, and we at the school feel it is our duty to keep a
              positive learning environment for all our students. And I'm
              thrilled that this is something that the faculty and other staff
              members of this school are highly aware of.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-12 col-lg-6 col-xl-6 mt-4">
        <h5 class="sectiontitle">Academic Director's message</h5>

        <div class="single-person">
          <div class="person-image">
            <img class="profile-img" src="/assets/img/academic_director.jpg" />
          </div>
          <div class="person-info">
            <h3 class="full-name">Mr.Sujith kumar S</h3>
            <h6>Academic Director, R M PUBLIC SCHOOL</h6>
            <hr />
            <p class="paramission">
              R M PUBLIC School is a vision driven school committed to meet the
              educational needs of students. We understand educational needs as
              those encompassing physical, social, intellectual and emotional
              development. To achieve these aspirations, we have developed a
              strong infrastructural base, comprehensive curriculum and a
              technology driven delivery mechanism. We recognize that there is a
              very strong connection between classroom learning and outdoor
              experiences, between parental role and that of the school and
              between earning for now and learning for life. <br />
              <br />Our appreciation of these entails that we place a very high
              premium on the role of teachers, their competencies, skills,
              ability to nurture talent and commitment to be on the side of the
              students. Our motto "Knowledge IS INFINITE" is a driving force to
              pitch our students and their thoughts and creativity against their
              counterparts in the different time-zones of the world. Preparing
              children for life calls for equipping them with finer values and
              academic competencies. <br /><br />
              Their success stories both validate and fuel our efforts. Our
              former President APJ Abdul Kalam exhorts us by asking, "Can we
              make an education system which will retain the smiles on the faces
              of our children throughout the period of their education?" We are
              committed to meet this challenge.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white mt-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <p class="para pr-5">
          To this end,<br />
          we seek to develop well-rounded students who exemplify health,
          wellness and character development using our core schoolwide
          expectations and values. We believe that “EDUCATION IS INFINITE AND IT
          SHOULD BE AVAILABLE TO EVERYONE”<br /><br />
          Through discovery, exploration, innovation, and creative expression
          through Arts integration and after school enrichment opportunities,
          students receive rich, extended learning opportunities while building
          a positive school culture where every member feels valued and
          respected.<br />
          Through coaching, collaboration and building professional learning
          communities, we offer staff professional development training to build
          teachers capacity to improve instructional practices and to accelerate
          student achievement.<br /><br />
          Finally, we support a community schools’ approach that organizes and
          maximizes resources from the school and community-based partnerships
          to ensure every student thrives and to support student success in
          alignment with the school priorities.
        </p>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <img src="assets/img/about-us-3.jpg" style="height: 500px" />
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
