<app-header></app-header>

<section>
  <div class="container">
    <h1 class="heading">MONTESSAORI</h1>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-5">
        <img class="image" src="/assets/img/mont1.jpg" />
      </div>

      <div class="col-12 col-md-12 col-lg-7">
        <div class="content">
          <p>
            The Montessori method of education involves children's natural
            interests and activities rather than formal teaching methods. A
            Montessori classroom places an emphasis on hands-on learning and
            developing real-world skills. It emphasizes independence and it
            views children as naturally eager for knowledge and capable of
            initiating learning in a sufficiently supportive and well-prepared
            learning environment. It discourages some conventional measures of
            achievement, such as grades and tests.
          </p>
          <BR />
          RMPS Montessori School is a place “Where learning is fun". The
          curriculum planning; content design and development; regular academic
          execution, follow up ensure a value-based outlook while following a
          student centric approach. At the age of 3 to 5 years, children are
          still learning how to communicate hence play way becomes their
          preferred learning style. Our two-decade expertise in education has
          developed a system which recognizes every young child’s unique
          intelligence. The kindergarten faculties are also trained to help
          children attain their learning goals with methods appropriate to their
          learning styles while initiatives like inculcating meditation into the
          school routine of these young students helps in keeping students
          relaxed yet attentive. Our endeavours are aimed at providing such an
          atmosphere at the R M Play School where the students are inspired to
          excel by maintaining the ideal balance of creativity and flexibility
          that makes learning joyful for the child. .
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
