<app-header></app-header>
<section class="my-5">
  <div class="container">
    <div class="text-center my-5">
      <h4>Mandatory Public Discolsures</h4>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="card text-center" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/img/55930-calendar-success-add.gif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Academic Calendar</h5>
            <p class="card-text"></p>
            <div class="">
              <a
                target="_blank"
                href="/assets/docs/academic_calendar_rmps.pdf"
                class="btn btn-danger"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card text-center" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/img/24430-online-exam.gif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Board Results</h5>
            <p class="card-text"></p>
            <div class="">
              <a
                target="_blank"
                href="/assets/docs/board_results.pdf"
                class="btn btn-danger"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card text-center" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/img/23745-building.gif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Building Saftey</h5>
            <p class="card-text"></p>
            <div class="">
              <a
                target="_blank"
                href="/assets/docs/building_saftey.pdf"
                class="btn btn-danger"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card text-center" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/img/33518-paper-file-and-document-animations.gif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">DEO Letter</h5>
            <p class="card-text"></p>
            <div class="">
              <a
                target="_blank"
                href="/assets/docs/doe.pdf"
                class="btn btn-danger"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-lg-3">
        <div class="card text-center" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/img/91610-pocket-money.gif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Fee Chart</h5>
            <p class="card-text"></p>
            <div class="">
              <a
                target="_blank"
                href="/assets/docs/fee_chart.pdf"
                class="btn btn-danger"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card text-center" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/img/95236-fire-2d-animation.gif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Fire And Saftey</h5>
            <p class="card-text"></p>
            <div class="">
              <a
                target="_blank"
                href="/assets/docs/fire_and_saftey.pdf"
                class="btn btn-danger"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card text-center" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/img/56295-letter-read.gif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Grant Letter</h5>
            <p class="card-text"></p>
            <div class="">
              <a
                target="_blank"
                href="/assets/docs/grant_letter.pdf"
                class="btn btn-danger"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card text-center" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/img/112198-certificate.gif"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">No Objection Certificate</h5>
            <p class="card-text"></p>
            <div class="">
              <a
                target="_blank"
                href="/assets/docs/noc.pdf"
                class="btn btn-danger"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 col-lg-3">
          <div class="card text-center" style="width: 18rem">
            <img
              class="card-img-top"
              src="assets/img/PARENT.gif"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Parent Teacher Association</h5>
              <p class="card-text"></p>
              <div class="">
                <a
                  target="_blank"
                  href="/assets/docs/parent_teacher_association.pdf"
                  class="btn btn-danger"
                  >Download</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="card text-center" style="width: 18rem">
            <img
              class="card-img-top"
              src="assets/img/letter.gif"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Recognization Letter</h5>
              <p class="card-text"></p>
              <div class="">
                <a
                  target="_blank"
                  href="/assets/docs/recognization_letter.pdf"
                  class="btn btn-danger"
                  >Download</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="card text-center" style="width: 18rem">
            <img
              class="card-img-top"
              src="assets/img/health.gif"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Health & Hygine</h5>
              <p class="card-text"></p>
              <div class="">
                <a
                  target="_blank"
                  href="/assets/docs/health.pdf"
                  class="btn btn-danger"
                  >Download</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="card text-center" style="width: 18rem">
            <img
              class="card-img-top"
              src="assets/img/rules.gif"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Sociaty Byelaws</h5>
              <p class="card-text"></p>
              <div class="">
                <a
                  target="_blank"
                  href="/assets/docs/society_member.pdf"
                  class="btn btn-danger"
                  >Download</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-lg-3">
            <div class="card text-center" style="width: 18rem">
              <img
                class="card-img-top"
                src="assets/img/management.gif"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">School Mangement Committee</h5>
                <p class="card-text"></p>
                <div class="">
                  <a
                    target="_blank"
                    href="/assets/docs/smc.pdf"
                    class="btn btn-danger"
                    >Download</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="card text-center" style="width: 18rem">
              <img
                class="card-img-top"
                src="assets/img/mpd.gif"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Mendatory Public Disclosure</h5>
                <p class="card-text"></p>
                <div class="">
                  <a
                    target="_blank"
                    href="/assets/docs/mpd.pdf"
                    class="btn btn-danger"
                    >Download</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
