<app-header></app-header>
<div @fade>
  <section class="py-4">
    <div class="container negative-margin">
      <div>
        <h3 class="section-title">About Us</h3>
      </div>
      <div class="row">
        <div class="col-sm-12 col-12 col-lg-6 col-xl-6 mt-4">
          <img
            src="assets/img/smartclass.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
        <div class="col-sm-12 col-12 col-lg-6 col-xl-6 mt-4">
          <h2 class="section-title">Smart Classrooms</h2>
          <br />
          <p class="para pr-5">
            R M Public School believes in keeping the students in touch with the
            latest developments by providing them the latest technology. Digital
            Smart classes are part of this initiative. The digital content is in
            accordance with the CBSE school curriculum, facilitated by top most
            experts from the industry. It shall cover all students of I to IX,
            covering all subjects in 2D and 3D modules to enable students to
            grasp the abstract and intricate concepts of the subjects and at the
            same time have an enriched learning experience<br /><br />
            The aim is to keep up with the latest trends by using technology to
            make learning interesting, simple and interactive with trained
            faculty to enhance conceptual teaching.<br />
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <h2 class="section-title">Computer Lab</h2>
          <br />
          <p class="para pr-5">
            With computer education growing to be an essential part of modern
            day living, it has become the priority of the school to make
            students and teachers computer savvy.<br /><br />
            The school has 15 Computer labs for the Pre Primary, Primary, Middle
            & Senior sections with 35 computers each to equip the staff &
            students. Special courses on animation, graphic designing etc. apart
            from regular syllabus is imparted. Teachers are given special
            training in MS Office to bring in more efficiency.<br />
          </p>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/computerlab.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/mathslab.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <h2 class="section-title">Maths lab</h2>
          <br />
          <p class="para pr-5">
            Maths is a foundation skill that students must acquire. It forms the
            premise of other subjects such as Science, Economics and even more
            creative ones such as Architecture. It is the vehicle to train
            students to think, analyze and articulate logically. Hence, it
            becomes necessary for students to grasp concepts of Maths.<br /><br />
            Maths Lab is an innovative platform where multiple teaching and
            learning aids are available for teachers to explain the various
            abstract Mathematical concepts and thereby allowing students to
            develop deep insights of the concepts. Based on the ideology of
            Learn – Analyze – Build, our Maths Lab features pedagogically
            appropriate content, where students can learn through activities,
            hands-on models and simulations to gain holistic understanding.<br />
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <h2 class="section-title">
            Science Lab<br />Composite Lab, Physics/Chemistry/Biology
          </h2>
          <br />
          <p class="para pr-5">
            Laboratory instruction is considered essential because it provides
            training in observation, supplies detailed information, and arouses
            pupils' interest. The science laboratory is an important means of
            instruction in science skills, concepts and cognitive abilities for
            understanding the nature of science<br /><br />
            The school has a well-equipped science lab along with qualified
            faculties catering to the needs of Physics, Chemistry as well as
            Biology for high school students.<br />
          </p>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/lab.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/infirmary.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <h2 class="section-title">Infirmary</h2>
          <br />
          <p class="para pr-5">
            At R M Public School the well being of learners is of great
            importance to us. We provide direct nursing services to learners and
            staff members to maximize health and wellness in the school
            community.<br /><br />
            The school infirmary is equipped with the basic materials for first
            aid and facilities to address the health needs of learners while in
            school. An on-site trained and qualified nurse is available to
            manage and assess any health issues that may arise during school
            hours.<br />
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <h2 class="section-title">Library</h2>
          <br />
          <p class="para pr-5">
            With Modern Amenities and facilities<br />Separate section for
            preprimary POP-UP book and Colorful book for primary students<br />
            Dedicated for learn with fun kg student<br />
            Properly illuminated<br />
            Colorful furniture to induce interest in the mind of children<br />
          </p>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/library.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/dinninghall.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <h2 class="section-title">Dinning hall</h2>
          <br />
          <p class="para pr-5">
            No junk food policy.<br />
            Nutritious, child friendly menu.<br />
            Food supplied at lunch break in the dining hall as per order/coupons
            collected in the morning.

            <br />
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <h2 class="section-title">Seminar Hall and Open Air Auditorium</h2>
          <br />
          <p class="para pr-5">
            The school has an Open Air auditorium with stage having a well
            designed seating capacity of about 2000 people.<br /><br />

            There is also an Air-conditioned Seminar hall equipped with the
            latest projector, screen, stage and lighting-acoustic systems having
            a seating capacity of about 500 people used for student
            assemblies/performances and events.<br />
          </p>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/seminarhall.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/sports.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <h2 class="section-title">Sports</h2>
          <br />
          <p class="para pr-5">
            At R M Public School, we lay strong emphasis on sports and physical
            development. Our sports curriculum is planned and designed for
            students to develop and enhance skills like strength, speed,
            endurance, flexibility, balance etc. We believe in mass
            participation, exposing our students to a number of sports events at
            inter-school, state, national and international level. Every student
            is encouraged to join at least one school sport team such as
            Basketball, Football, Taekwondo, Cricket, Badminton and indoor
            sports like Chess, Carom and Table Tennis. Taekwondo gives mental
            and physical strength. It gives a sense of self-discipline at an
            early stage of life. Every child’s fantasy begins with being the
            next Lionel Messy. Football is the most popular sport and every
            child must have that experience.

            <br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <br />
          <p class="para pr-5">
            We have dedicated football teams along with guided tutoring. Cricket
            helps improve a child’s agility, judgment and adds on to their team
            contribution. Basketball adds on to the development of a child’s
            mind, tolerance, coordination and sense of rigour. Kabaddi helps
            students for better eye co-ordination and physical strength. These
            activities stretch their abilities and enhance their stamina, muscle
            tone and have a number of physical benefits.<br />
          </p>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/sports.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/transport.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <h2 class="section-title">Transport</h2>
          <br />
          <p class="para pr-5">
            R M PUBLIC SCHOOL Transport runs over 35 vehicles in GOPALGANJ
            ,BARAULI & MIRGANJ, each equipped with GPS, CCTVs and First Aid
            kits, while ensuring safety and care of each child.Bus conductors
            are deputed in the buses.

            <br />
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7">
          <h2 class="section-title">Classroom</h2>
          <br />
          <p class="para pr-5">
            Smart Board.<br /><br />

            Individual storage facility/lockers for students.<br /><br />

            Customized furniture for KG. Students.<br /><br />

            Audio facility in every class room.<br /><br />

            CCTV in all Class Rooms. Well ventilated and properly illuminated
            classrooms.<br />
          </p>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <img
            src="assets/img/classroom.jpg"
            style="height: auto; width: 100%; border-radius: 50px 0px 50px 0px"
          />
        </div>
      </div>
      <hr />
    </div>
  </section>
</div>
<app-footer></app-footer>
